.cat-left-eye {
    width: 30px;
    height: 40px;
    background-color: #000;
    position: absolute;
    top: 54px;
    left: 39px;
    border-radius: 60%;
    transform: rotate(25deg);

    &__inner {
        width: 10px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 8px;
        left: 2px;
        border-radius: 60%;
        transform: rotate(10deg);
    }
}