.cat-right-ear {
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 70px solid #5e5e5e;
    position: absolute;
    top: -26px;
    left: 163px;
    transform: rotate(45deg);
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    z-index: 1;

    &__inner {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 40px solid #3b3b4f;
        position: absolute;
        top: 22px;
        left: -20px;
        border-bottom-right-radius: 40%;
        border-bottom-left-radius: 40%;
        border-top-left-radius: 90px;
        border-top-right-radius: 10px;
    }
}